body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
}

.App {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 1rem 2rem;
  width: 16rem;
  height: max-content;
}

form > div {
  margin-bottom: 0.5rem;
}

label {
  margin-right: 0.5rem;
}

input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 4px;
}

button {
  background: #7067cfaa;
  padding: 4px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 1rem;
  width: 100%;
}

.Welcome {
  width: 100%;
}

.Navigation {
  margin-bottom: 1rem;
}

.Navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.Navigation li {
  display: inline-block;
}

.Navigation a {
  display: block;
  padding: 4px;
}

.Jeopardy {
  height: max-content;
}

.category {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 25px;
}

.question-value {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 45px;
}

.clue {
  background-color: blue;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  text-shadow: 4px 1px 2px black;
  text-align: center;
  margin-top: -25px;
}

.answer-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  font-size: 1rem;
  padding: 4px;
  margin-top: 12px;
  margin-bottom: 6px;
}

.answer-button {
  margin-bottom: 7px;
}

.score {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 24px;
}
